
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.waiting {
  cursor: wait !important;
}

.pointer {
  cursor: pointer !important;
}

#dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
.h2-done {
  color: green;
}
.llm-output {
  text-align: left;
}

.step-content_not_started {
  display: none;
}

.step-content_started {
  display: block;
}

.div-done {
  display: none;
}