#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}
.h2-done {
  color: green;
}
.llm-output {
  text-align: left;
}

.div-done {
  display: none;
}